<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BIDVWEB.Business.Properties.Settings.ConnectionString" connectionString="Data Source=bidvweb;User ID=bidvgw;Password=bidvgw;Unicode=True" providerName="System.Data.OracleClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
