<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BIDVWEB.Business.Properties.Settings.ConnectionString"
            connectionString="Data Source=bidvweb;User ID=bidvgw;Password=bidvgw;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>